
* { 
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body { 
  margin: 0 auto;
  max-width: 800px;
  background-color: rgb(7, 6, 19);
  font-family: "Inter", sans-serif;
  color: white;
}

header {

  & h1 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  & .input {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    
    & input {
      width: min(46rem, 90vw);
      padding: 0.3rem 2rem;
      border: none;
      border-radius: 10px;
      background-color: rgba(61, 61, 61, 0.363);
      color: #868585;
    } 

    & input:focus {
      color: #868585;
    }

    & img {
      position: absolute;
      margin-right: 1rem;
      transform: translateY(-50%);
      top: 50%;
      left: 1%;
    }
  }

}

.container {
 
  padding: 0;
  max-width: 800px;
  margin: 2rem auto;

  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  
  & .content img {
    width: 16rem;
    height: 21.25rem;  
    object-fit: cover;
    border-radius: 10px;  
  }
}

.content-wrapper {
  width: 256px;
  height: 340px;
  border-radius: 1rem;
  background: url(assets/img1.svg);
  position: relative;
}

.content {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;

  position: absolute;
  transform: translateY(-50%);
  top: 90%;
  left: 5%;

  & p {
    font: 700 bold 1.25rem;
    margin-bottom: 0.2rem;
  }

  
  & .note {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    
    font-size: 0.875rem;
    color: #868585;
    
    & img {
      width: 0.75rem;
      height: 0.75rem;
    }
    
  }
  
}

.content-wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -90px 20px -28px inset;
}

.content-wrapper:hover .content {
  opacity: 1;
}


footer {
  display: flex;
  justify-content: center;
  & img {
    width: 250px;
  }
} 


.dialog-box {
  position: relative;

  display: flex;

  width: 100%;
  height: 100%;

  background: rgb(0, 0, 0);
  backdrop-filter: blur(4px);

  & .modal {
    position: absolute;
    transform: translateY(-180%);


    background: #191C24;
    padding: 2rem;
    border-radius: 0.75rem;

    & h2 {
      padding: 2rem;
    }

    & .main-movie {
      display: flex;
      gap: 1.2rem;

      & .img-movie img {
        width: 300px;
        height: 440px;
        object-fit: cover;
        border-radius: 0.75rem;
      }

      & .description-movie {
        display: grid;
        gap: 0.2rem;

        & h3 {
          font: 700 bold 0.875rem;
          color: #94A3B8;
        }

        & span {
          font: 400 0.6rem;
          color: white;
        }
      }
    }

    & .note-movie {
      display: flex;
      gap: 0.5rem;
      & span {
        display: flex;
        align-items: center;

        border: 1px solid #2B303B;
        border-radius: 0.75rem;

        font-size: 0.75rem;

        padding: 0.3rem;
      }
    }
  }
}